/* Style.css */

/* Body Styles */
body {
    background-image: url('../img/background-image.avif');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    min-height: 100vh; /* Ensure body covers the full height of the viewport */
    display: flex;
    flex-direction: column;
}

/* Container Styles */
.container {
    flex: 1; /* Make the container grow to fill available space */
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a box shadow for a better look */
}

/* Header Styles */
h2 {
    text-align: center;
    color: #333;
}

/* Form Styles */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #333;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}